<div class=header>
  <h1><i>"Think Once, Think Twice, Think Bike!" - Mamdouh </i></h1>
</div>



<% @products.each do |product| %>

 <div class="card-group">
  <div class="card">
 <div class="col-sm-6 col-md-3">

   <div class="thumbnail">

       <div class="caption">
         <%= image_tag product.photo.image.thumbnailIndex %>
       <h3><%= product.name %></h3>
       <p class="card-description"><%= product.description %></p>
       <p class="card-description"><strong>€ <%= product.price %></strong></p>
       <%= link_to "View Details", product, class: "btn btn-default" %>
       <%= link_to "Buy Bike", product, class: "btn btn-default" %>
     </div>
   </div>
 </div>
</div>

<%end%>
