

<div class="container">
    <div class="row">
        <div class="col-sm-6">
                         <div class="panel panel-success">
                            <div class="panel-body">
                              <% @product.photos.each do |photo| %>
                              <%= image_tag photo.image.thumbnail %>
                              <% end %>
                            </div>
                          </div>
            </div>
        <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                          <div class="panel panel-primary">
                            <div class="panel-heading">
                              <h3 class="panel-title">Description</h3>
                            </div>
                            <div class="panel-body">
                              <%= @product.description %>
                            </div>
                          </div>
                        </div>
                    <div class="col-sm-12">
                          <div class="panel panel-primary">
                            <div class="panel-heading">
                              <h3 class="panel-title">Details</h3>
                            </div>
                            <div class="panel-body">
                              <%= @product.details %>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-12">
                          <div class="panel panel-primary">
                            <div class="panel-heading">
                              <h3 class="panel-title">Price</h3>
                            </div>
                            <div class="panel-body">
                              <%= @product.price %>
                            </div>
                          </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<%= link_to "Back to all Bikes", products_path, class: "btn btn-default" %>
